


  html, body{
    font-family: 'Unify Sans', helvetica, arial, sans-serif; /* Helvetica Widget Official Font */
    font-size: 16px;
    float: none !important;
    overflow-x: hidden;
    margin: 60px;
}

.body-content{
  display: flex;
  justify-content: center;
  align-items: center;
margin-top: 75px;
}

.outer-kremenitzer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #054264;
  height: 41px;
  padding: 1rem 0;
  color: #fff;
  text-align: center;
margin-bottom: 39px;padding-bottom: 16px;opacity: .9;}

.kremenitzer {
  display: inline-block;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 2.4px;
  margin-bottom: 60px;
}

@media (max-width: 700px) {
  .kremenitzer {
    font-size: 16px;
  }
}

span {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

}

h1 >a {
  color: black;
 text-decoration: none;
}
h1:hover {
  text-decoration: underline;
  color: gray;
}

  .outer-container {
  background-color: #f2f2f2;
  padding: 10px;
  margin-top: 6px;
  max-width: 700px;

  }

  .widget-main-div {
    width: 100%;
    margin: 0 auto;
    padding: 0px;

  }

  .recommendations-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px;

}

  .taboola-anchor>* {
    width: 100%;
    margin-top: 2px;
  }

  .taboola-name {
    font-size: 15px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    line-height: 21px;
    display: -webkit-box; /* Using webkit to limit line lines to 3 */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
     overflow: hidden;

}

 .taboola-branding {
   color: grey;
  font-size: 13px;
  font-weight: bold;
}

  .taboola-article>a {
  text-decoration: none;
  }

  .widget-main-di>a {
    color:black;
    text-decoration: none;
  }

  .taboola-disclosure-img{
   height: 12px;
  width: 12px;
  margin-left: 5px;
  padding: 1px 0px 1px 0px;
}

  .widget-header-disclosure {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1%;
   padding: 1% 0;
  }

  .disclosure  {
    text-decoration: none;
    color: black;
    font-size: 12px;
    letter-spacing: 0.2px;
}


  .likes {
  font-weight:bold;
  font-size: 18px;
}
/* Mobile Responsive Design */
  @media(max-width: 550px) {
    .recommendations-container {
      grid-template-columns: 1fr;
    }

  }


  .footer {
  position: fixed;
  left:0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 90px;
  background-color: #054264;
    padding: 6px;
}

  ul.social-network {
    list-style: none;
    display: inline;
    margin: auto;
  }

  li{
    display: inline;
    margin: 0 10px;
  }


    a.icoGithub:hover {
      background-color: black;
    }

  a.icoBriefcase:hover {
    background-color: #00cdac;
  }
  a.icoLinkedin:hover {
    background-color: #007bb7;
  }

a.icoTwitter:hover {
    background-color: rgb(9, 141, 250);
  }

  .social-network a.icoA3:hover i, .social-network a.icoInstagram:hover i, .social-network a.icoGithub:hover i, .social-network a.icoTwitter:hover i,  .social-network a.icoLinkedin:hover i {
    color: white;
  }

  .social-icons li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  .social-icons li i {
    margin: 0;
    line-height: 40px;
    text-align: center;
  }

  .social-icons li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }

  .social-icons i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }

  .social-icons a {
    background-color: #607d8b;
  }

  @media screen and (max-width: 500px) {
    ul.social-network li {
        display: inline;
        margin: 0 5px;
    }
  }

  @media screen and (max-width: 450px) {
    ul.social-network li {
        display: inline;
        margin: 0 5px;
    }
    .social-icons li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
    .social-icons li i {
        margin: 0;
        line-height: 40px;
        text-align: center;
    }
  }

  @media screen and (max-width: 350px) {
    ul.social-network li {
        display: inline;
        margin: 0 2px;
    }
    .social-icons li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
    .social-icons li i {
        margin: 0;
        line-height: 40px;
        text-align: center;
    }
  }

